#body {
    font-family: PT Sans, sans-serif;
    font-size: 16px;
}
a {
    text-decoration: none;
    font-size: 2rem;
    font-family: PT Sans, sans-serif;
    color: #6B849C;
    transition: background-color 0.5s, border-color 0.1s, top 0.2s, box-shadow 0.3s;
}
a:hover, a:focus {
    color: gray;
    text-shadow: navy;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    background-color:rgba(224, 222, 222, 0.111);
}
hr {
    width: 50%;
    font-size: 2rem;
    color: #6B849C;
    font-weight: bolder;
}
span.quote {
    font-style: italic;
}
#wrapper {
    text-align: center;
    margin: 0 auto;

}
#header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    text-align: center;
    flex-wrap: no-wrap;
}
.logo {
    width: 55%;
}
.nav {
    width: 75%;
    margin-left: 25rem;
}
.nav ul {
    list-style-type: none;
}
.nav ul li {
    display: inline;
    margin-right: 15px;
    padding: 5px;
}
#grid-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#grid-layout img {
    margin-bottom: -4px;
}
.summary {
    width: 85%;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: PT Sans, sans-serif;
    border-top: 10px double #6B849C;
    border-bottom: 10px double #6B849C;
    margin-bottom: 1rem;
}
.summary h1 {
    font-family: PT Sans, sans-serif;
    color: #6B849C;
}
.summary p {
    padding-bottom: 2rem;
    line-height: 1.6rem;
}
.summary p:last-child {
    background-color: #395066;
    border-radius: 89% 11% 88% 12% / 11% 86% 14% 89%;
    padding: 5rem;
    color: white;
}



/* Start footer */
#footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: no-wrap;
    font-family: PT Sans, sans-serif;
    font-size: 1.2rem;
    margin: 5px auto;
}
#footer a:hover, a:focus {
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}
#footer img:hover, img:focus {
    transform: scale(.85);
    border-top: none;
    border-bottom: none;
    background-color: transparent;
}
.address {
    width: 35%;
    font-size: 1rem;
}
.address address {
    margin-bottom: 5px;
}
.address span {
}
.copyright {
    width: 35%;
    font-size: 1rem;
}
.social {
    width: 35%;
}
@media screen and (max-width: 1125px) {
    a {
        font-size: 1.2rem;
    }
    .logo {
        width: 55%;
    }
    .nav {
        width: 55%;
        margin-left: 10rem;
    }

}
@media screen and (max-width: 768px) {
    .logo {
        width: 12%;
    }
    .nav {
        width: 100%;
        margin-left: 13rem;
    }
    .nav ul li {
        display: inline;
        margin-right: 10px;
        padding: 2px;
    }
    a {
        font-size: 1.2rem;
    }
    .summary p {
        padding-bottom: 1.5rem;
        line-height: 1.5rem;
        font-size: 1rem;
    }
    .summary p:last-child {
        background-color: rgba(57, 80, 102);
        border-radius: 89% 11% 88% 12% / 11% 86% 14% 89%;
        padding: 3rem;
        color: white;
        font-size: .9rem;
        line-height: 1.2rem;
    }
    .address {
        width: 45%;
        font-size: .8rem;
    }
    .address address {
        display: none;
    }
    .copyright {
        width: 45%;
        font-size: .8rem;
    }
    .social {
        width: 45%;
    }
    .social img {
        width: 45px;
    }

}
@media screen and (max-width: 550px) {
    .nav {
        width: 50%;
        margin-left: 10rem;
    }
    .logo {
        width: 10%;
    }
    .nav ul li {
        display: inline;
        margin-right: 0px;
        padding: 2px;
    }
    a {
        font-size: .8rem;
    }
    .address {
        width: 50%;
        font-size: .7rem;
    }
    .address address {
        display: none;
    }
    .copyright {
        width: 60%;
        font-size: .7rem;
    }
    .social {
        width: 50%;
    }
    .social img {
        width: 25px;
    }
}
@media screen and (max-width: 425px) {
    .nav ul li.small {
        display: none;
    }
    a {
        font-size: 1rem;
    }
    .address {
        display: none;
    }
    .copyright {
        width: 90%;
        font-size: .8rem;
    }
    .summary {
        width: 98%;
        margin: 0 auto;
        font-family: PT Sans, sans-serif;
        border-top: none;
        border-bottom: none;
    }
    .summary p {
        padding-bottom: 1rem;
        line-height: 1rem;
        font-size: .7rem;
    }
    .summary p:last-child {
        background-color: rgba(57, 80, 102);
        border-radius: 97% 5% 74% 18% / 6% 86% 14% 89%;
        padding: 1rem;
        color: white;
        font-size: .7rem;
        line-height: 1rem;
    }
}